// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header

    // --------------------------------------------------------------------index

    // --------------------------------------------------------------------cate

    // --------------------------------------------------------------------detail

    // --------------------------------------------------------------------footer
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .header {
        &-index {
            &__list {
                flex-wrap: nowrap;
                white-space: nowrap;
                overflow: auto;
            }
        }
        &-top {
            .social {
                padding-left: 20px;
                padding-right: 20px;
                max-width: 350px;
            }
        }
    }
    // -------------------------------------------------------------------- index
    // --------------------------------------------------------------------cate
    // --------------------------------------------------------------------detail
    // --------------------------------------------------------------------footer
}
// max width 992px
@media (max-width: 992px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .mw-500 {
        max-width: 500px;
        margin: auto;
    }
    .mw-600 {
        max-width: 600px;
        margin: auto;
    }
    .navbar {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
    }
    // --------------------------------------------------------------------index
    .block {
        &-container {
            display: block;
        }
        &-left {
            padding-right: 0;
            border-right: none;
        }
        &-right {
            padding-left: 0;
            width: 100%;
            margin-top: 40px;
        }
    }
    .section-primary {
        &__left {
            .article {
                display: block;
                .article-content {
                    padding: 12px 0 0;
                }
            }
            .article-img {
                width: 100%;
            }
        }
    }

    .box-media {
        .media-large {
            .article-content {
                width: 100%;
                padding: 20px;
            }
        }

        .media-small {
            max-height: 300px;
            overflow: auto;
            .article {
                flex-direction: row;
                margin-bottom: 20px;
            }

            .article-img {
                width: 40%;
                flex-shrink: 0;
            }
        }
    }
    .section-secondary {
        .heading {
            padding-right: 0;
            margin-right: 0;
            margin-bottom: 20px;
            border-right: none;
            width: 100%;
        }
        .content {
            grid-gap: 0;

            .article {
                padding: 20px 0;
                border-top: 1px solid #e5e5e5;
            }
        }
    }

    .section-tertiary {
        &__container {
            .large {
                border-bottom: none;
                padding-bottom: 0;
                .article-img {
                    width: 100%;
                }

                .article-content {
                    margin-left: 0;
                }
            }

            .small {
                .article {
                    flex-direction: column;
                    padding: 20px 0;
                    border-bottom: 1px solid #e5e5e5;

                    &:first-child {
                        padding-top: 0;
                    }
                }
                .article-img {
                    width: 100%;
                    order: 1;
                }
                .article-content {
                    order: 2;
                    padding-top: 12px;
                }
            }
        }
    }

    .short-content {
        max-height: 678px;
        overflow: auto;
    }
    // --------------------------------------------------------------------cate
    .cate-primary {
        &__container {
            border-bottom: none;
            .article {
                padding: 20px 0;
                border-bottom: 1px solid #e5e5e5;
                &:nth-child(odd) {
                    padding-right: 0;
                    border-right: none;
                }
                &:nth-child(even) {
                    padding-left: 0;
                }
                &:first-child {
                    padding-top: 0;
                }
            }

            .article-title {
                font-size: 30px;
            }
        }
    }

    .cate-secondary {
        &__container {
            margin-bottom: 0;
            .article-img {
                width: 100%;
            }

            .article-content {
                margin-left: 0;
                padding-bottom: 0;
            }

            .article-title {
                font-size: 30px;
            }
        }
    }
    // --------------------------------------------------------------------detail
    .detail-content {
        padding-left: 0;
        width: 100%;
    }
    // --------------------------------------------------------------------footer
}

// max width 768px
@media (max-width: 767px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    // --------------------------------------------------------------------header
    .w-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-top {
        .social {
            padding: 0;
            max-width: 100%;
            justify-content: flex-start;

            &-item {
                margin-right: 20px;
            }
        }
    }

    .header-center__side {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    // --------------------------------------------------------------------index
    .box-media {
        &__container {
            padding: 15px;
        }

        .media-large {
            .article-content {
                padding: 15px;
            }
        }
        .media-small {
            .article-content {
                padding: 5px 10px;
                background-color: transparent;
                color: #fff;
            }
        }
    }

    .section-secondary {
        &__container {
            .heading-title {
                font-size: 32px;
            }
        }
    }
    .short-content {
        max-height: 560px;

        .article-title {
            font-size: 20px;
        }
    }
    // --------------------------------------------------------------------cate
    .breadcrumb-list {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
    }
    .cate-primary {
        &__container {
            .article-content {
                padding: 0 20px;
            }
            .article-title {
                font-size: 24px;
            }
        }
    }
    .cate-secondary {
        &__container {
            .article-title {
                font-size: 24px;
            }
        }
    }
    // --------------------------------------------------------------------detail
    .detail-title {
        font-size: 32px;
    }
    .detail-content > h2 {
        font-size: 28px;
    }
    .detail-content > h3 {
        font-size: 24px;
    }
    .detail-content > h4 {
        font-size: 22px;
    }
    .detail-content > h5 {
        font-size: 20px;
    }
    .detail-content > h6 {
        font-size: 18px;
    }
    .detail-content .articles .article__title {
        font-size: 16px;
    }
    .detail-tags {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
    }
    // --------------------------------------------------------------------footer
    .footer {
        &-info {
            &__left {
                width: 100%;
            }
        }
    }
}

